body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, rgb(188, 201, 188), rgb(123, 190, 123));
    font-family: 'Caveat', cursive;
    /* font-family: 'Hurricane', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Palette Mosaic', cursive; */
    height: 400vh;
    overflow: hidden;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
input{
    width: 250px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 8px 0;
    margin-left: 25px;
    border: 2px solid rgb(105, 126, 105);
    border-radius: 25px;
}

button{
    margin: 30px 0;
    margin-left: 90px;
    width: 120px;
    height: 50px;
    background-color: rgb(164, 181, 164);
    border-radius: 25px;
    border: 1px solid;
    cursor: pointer;

}
button:hover {
    transition: 0.5s;
    background-color: rgb(45, 152, 74);
}
.signup_link{
    margin: 0px 0;
    text-align: center;
    margin-bottom: 10px;
}