*{
    padding: 0;
    margin: 0;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(26, 28, 32, 0.7),rgba(57, 60, 75, 0.7)),url(image/bgr3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}