body {
    background-image: url(../../image/bgr2.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Caveat', cursive;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}
.signup {
    width: 600px; 
    margin: 0px auto; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    background-color: white; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 2px 2px #53925f;
    /* font-family: 'Caveat', cursive; */
}
input{
    width: 250px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 8px 0;
    margin-left: 25px;
    border: 2px solid rgb(189, 197, 189);
    border-radius: 25px;
}

button{
    margin: 30px 0;
    margin-left: 90px;
    width: 120px;
    height: 50px;
    background-color: rgb(164, 181, 164);
    border-radius: 25px;
    border: 1px solid;
    cursor: pointer;
    

}
button:hover {
    transition: 0.5s;
    background-color: rgb(45, 152, 74);
}
p{
    margin: 0px 0;
    text-align: center;
    margin-bottom: 10px;
}